.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    padding: 2.5rem 0;
    font-size: 1.4rem;
   background-color: #F2CEDA;
  
}
.header-container  ul {
    list-style-type: none;
    display: flex;
    font-family: 'Hind Madurai', sans-serif;
}
.header-container  ul li {
    margin-right: 4rem;

}
.header-container  ul li a {
    text-decoration: none;
    color: #150101;
    font-style: normal;
}
.header-container button {
    border: none;
    padding: 1.4rem 5rem;
    background-color: #D23166;
    border-radius: .5rem;
    cursor: pointer;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}
.header-container .header-link-active {
    color: #D23166;

}