
.product-box h2 {
    font-size: 4.4rem;
    color: black;
    margin-bottom: 6.4rem;
    text-align: center;
   
}
.product-box ul {
    display: flex;
    list-style-type: none;
    font-size: 1.7rem;
    justify-content: center;
    

}
.product-box ul li {
    margin-right: 4rem;
    text-align: center;
}
.product-box {
    margin-bottom:5rem ;
}
.product-box a {
    text-decoration: none;
    color: black;
    opacity: .7;
}
.product-active {
    border-bottom: 3px solid #D23166 ;
    color: rgb(0, 0, 0);
    font-weight: bold;
    
}